name: Nix

on:
  push:
  pull_request:

jobs:
  flake-check:
    name: Flake Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v30
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - run: nix flake check

      - run: nix build
